<%= form_with(model: [@post.user, @post, @post.messages.build], local: true, class: "space-y-6 bg-white p-6 rounded-lg shadow-md") do |form| %>
  <div class="field flex flex-col h-48 w-96">
    <%= form.label :body, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :body, class: "mt-1 block w-full h-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>
  <div class="actions">
    <%= form.submit 'Send Message', class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>
