<h1>User#users</h1>
<p>Find me in app/views/users/index.html.erb</p>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user  %>
    </li>
  <% end %>
</ul>
<%= link_to "New User", new_user_path %>
