  
<div>
  <div>Author:</div>
  <%= post.author %>
</div>
<div>
  <div>Body:</div>
  <%= post.body %>
</div>
<div>
  <%= link_to "Delete post", [post.user, post], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
